---
- name: Install and configure Redis Master
  hosts: redis_master
  become: yes
  roles:
    - geerlingguy.redis
  vars:
    redis_bind: "0.0.0.0"
    redis_port: 6379

- name: Install and configure Redis Replica
  hosts: redis_replica
  become: yes
  roles:
    - geerlingguy.redis
  vars:
    redis_bind: "0.0.0.0"
    redis_port: 6379
    redis_replication_role: "slave"
    redis_master_host: "{{ hostvars[groups['redis_master'][0]].ansible_host }}"
    redis_master_port: 6379
