- name: Install Redis Tools on all nodes
  hosts: all
  become: yes
  tasks:
    - name: Ensure redis-tools installed
      apt:
        name: redis-tools
        state: present
        update_cache: yes

- name: Install and configure Redis Master
  hosts: redis_master
  become: yes
  roles:
    - geerlingguy.redis

- name: Install and configure Redis Replica
  hosts: redis_replica
  become: yes
  roles:
    - geerlingguy.redis
