---
- name: Install and configure Redis Master
  hosts: master
  become: yes
  roles:
    - geerlingguy.redis
  vars:
    redis_bind: "0.0.0.0"
    redis_port: 6379
    redis_requirepass: "StrongPassword123"   # optional: for authentication

- name: Install and configure Redis Replica
  hosts: replica
  become: yes
  roles:
    - geerlingguy.redis
  vars:
    redis_bind: "0.0.0.0"
    redis_port: 6379
    redis_requirepass: "StrongPassword123"
    redis_replication_role: "slave"
    redis_master_host: "{{ groups['master'][0] }}"
    redis_master_port: 6379
