- hosts: redis_master, redis_replica
  become: yes
  pre_tasks:
    - name: Ensure universe repo is enabled
      apt_repository:
        repo: "deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} universe"
        state: present
    - name: Update apt cache
      apt:
        update_cache: yes

  roles:
    - geerlingguy.redis
