- name: Install and configure Redis Master
  hosts: redis_master
  become: yes
  roles:
    - geerlingguy.redis

- name: Install and configure Redis Replica
  hosts: redis_replica
  become: yes
  roles:
    - geerlingguy.redis
