---
- name: Setup Redis Cluster
  hosts: redis_master:redis_replica
  become: yes
  vars_files:
    - group_vars/all.yml

  roles:
    - geerlingguy.redis

  tasks:
    - name: Configure Redis Master
      when: inventory_hostname in groups['redis_master']
      template:
        src: redis_master.conf.j2
        dest: "{{ redis_conf_file }}"
      notify: restart redis

    - name: Configure Redis Replica
      when: inventory_hostname in groups['redis_replica']
      template:
        src: redis_replica.conf.j2
        dest: "{{ redis_conf_file }}"
      notify: restart redis

  handlers:
    - name: restart redis
      service:
        name: redis-server
        state: restarted
