- hosts: redis_master, redis_replica
  become: yes

  pre_tasks:
    - name: Ensure apt cache is updated
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Ensure universe repository is enabled
      ansible.builtin.apt_repository:
        repo: "deb http://archive.ubuntu.com/ubuntu {{ ansible_distribution_release }} universe"
        state: present

  roles:
    - geerlingguy.redis
