- hosts: redis_master, redis_replica
  become: yes
  vars:
    redis_package: redis-server
    redis_package_state: present
    redis_apt_update_cache: yes       # IMPORTANT: Update apt cache before installing
    ansible_python_interpreter: /usr/bin/python3

  roles:
    - geerlingguy.redis
